body {
  background-color: #eef7fa;
  color: #041F30;
  margin: 10px;
  font-size: 18pt;
}

.title{
  color: #000080;
  text-align: center;
  font-size: 48pt;
  padding: 10pt 30pt;
  margin: 0 auto;
}

.h2 {
  text-align: left;
  color: #000080;
  font-size: 20;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-style: underline;
}

.personal_info {
  text-align: left;
  color: #000080;
  font-size: 16pt;
  margin-bottom: 20px;
}

.selection_space {
  text-align: left;
  background-color: #eef7fa;
  color: #000080;
  font-size: 14pt;
  margin-top: 20px;
  margin-bottom: 20px;
}

.encoded_instructions {
  text-align: left;
  background-color: #eef7fa;
  color: #000080;
  font-size: 12pt;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: underline;
  font-weight: bold;
}

.submit {
  : center;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  align-self: center;
}

.container {
  color: #000080;
  text-align: center;
  font-size: 36pt;
  margin-top: 15px;
  margin-bottom: 15px
}

.explanation {
  font-size: 11pt;
  font-style: italic;
}
